<h3 class="text-center">Editar tipo de contacto</h3>

<%= render "errors_messages" %>

<%= form_for :contact, url: contact_path do |f| %>
  <input type="hidden" name="_method" value="put" >
  <%= render 'form', :f => f %>
<% end %>