<h3 class="text-center">Editar tipo de contacto</h3>

<%= simple_form_for @contact, url: contact_path do |f| %>
  <input type="hidden" name="_method" value="put" >
  <%= f.error_notification %>
  <%= render 'form', :f => f %>
<% end %>
