<h3 class="text-center">Editar cliente</h3>

<%= render 'errors_messages' %>

<%= form_for :client, url: client_path, :html => {:class => ""} do |f| %>
  <input type="hidden" name="_method" value="put" >
  <%= render 'form', :f => f, :path => clients_path %>
<% end %>