<h1 style="">Editar cliente</h1>

<%= render 'errors_messages' %>

<%= form_for :client, url: client_path do |f| %>
  <input type="hidden" name="_method" value="put" >
  <%= render 'form', :f => f %>
	<%= link_to 'Volver', client_path %>
<% end %>