<h1 class="text-center">Editar cliente</h1>

<%= render 'errors_messages' %>

<%= form_for :client, url: client_path, :html => {:class => "col-md-6 col-md-offset-3"} do |f| %>
  <input type="hidden" name="_method" value="put" >
  <%= render 'form', :f => f %>
	<%= link_to 'Volver al listado', clients_path, class: 'btn btn-danger pull-right' %>
<% end %>