<h3 class="text-center">Editar factura</h3>

<%= simple_form_for([Client.find(@invoice.client_id), @invoice]) do |f| %>
	 <input type="hidden" name="_method" value="put" >
  <%= f.error_notification %>
	<%= render 'form', :f => f %>
<% end %>
